<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>cybersquare</title>
</head>
<body bgcolor="pink">
    <div style="border: 2px solid; width: 1135px; height: 600px; float: left;">
   <h1 align="center"> <font style="color: rebeccapurple" size="20">CYBERSQUARE</h1></font> 
   <hr color="black"><b>From wikipedia, the free encyclopedia</b>
   <p>Cyber square is an innovative online plaform that teachs kids to learn coding and thereby improving the 21st century skills. It is also an excellent way to teach mathematical and science concepts in a different way and have problem-solving skils logic and patience
    Cyber square is the best online platform for kids that offers various online coding course which will make kids future-ready. It helps kids expose their creativity and acquire 21st century skills.</p>
   
    <h3 id="a">CyberSquare Learning Platform</h3>
<p>Every registered students will have a seperate login account to the Cybersquard online learning platform. Here, they will be to view their course progress, assignments provided by teachers, their batch performance, progress card, and so on.
Teachers can also login into CyberSquard platform and able to view the students performance batch performance, make reports, evaluate their works such as assignments,projects,questions etc.</p>
Every registered students will have a seperate login account to the Cybersquard online learning platform. Here, they will be to view their course progress, assignments provided by teachers, their batch performance, progress card, and so on.
Teachers can also login into CyberSquard platform and able to view the students performance batch performance, make reports, evaluate their works such as assignments,projects,questions etc.</p>

<h3 id="b">CyberSquare <span style="color: brown;"> Coding Course</span></h3>
<p>CyberSquare provide live b2c online coding course for kids and prepare them for the future. Our experts provide 1:1 online coding classes and help your child to create their on website, apps, and games.
CyberSquare provide live b2c online coding course for kids and prepare them for the future. Our experts provide 1:1 online coding classes and help your child to create their on website, apps, and games.
CyberSquare provide live b2c online coding course for kids and prepare them for the future. Our experts provide 1:1 online coding classes and help your child to create their on website, apps, and games.</p>
</div>
<div style="border: 2px solid; width: 360px; height: 600px; float: right;">
    <img src="https://arun25648.w3spaces.com/logo2.png" alt="Loaded" width="359" height="150" ></div>    
 <div style="border: 2px solid; width: 1500px; height: 1500px; float: left;">
  <b><i><u><font style="color:red;" size="10"><h3 id="c">Courses</h3></i></b></u></font>
  <font style="color:blue;" size="7"><b><h4>PHP</h4></b></font>
  <font style="color: brown;"><p>PhP Stands For HypertextPreprocessor Is A Scripting Language Used For Creating Attractive And User Friendly Interface.</p></font>
  <a href="https://en.wikipedia.org/wiki/PHP" target="_blank" rel="noreferer noopener">
  <img src="https://arun25648.w3spaces.com/php-tutsplus.png" width="200px" height="200px" alt="loaded"></a>
  <font style="color:blue;" size="7"><b><h4>Python</h4></b></font>
  <font style="color: brown;"><p>Python Is A High Level General Perpose Programming Language. Python Is A Server Side Scripting Language.</p></font>
 <a href="https://en.wikipedia.org/wiki/Python_(programming_language)" target="_blank" rel="noreferer noopener">
  <img src="https://arun25648.w3spaces.com/1200px-Python-logo-notext.svg.png" width="200px" height="200px" alt="loaded"></a>
 <font style="color:blue;"  size="7"><b><h4>Java</h4></b></font>
 <font style="color: brown;"><p>Jave Is High Level And Object Oriented Programming Language. Java Is A Server Side Scripting Language</p></font>
 <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" target="_blank" rel="noreferer noopener">
 <img src="https://arun25648.w3spaces.com/Java_programming_language_logo.svg.png" width="200px" height="200px" alt="loaded"><br></a>
 <marquee behavior="" direction="right"><img src="https://arun25648.w3spaces.com/logo2.png" width="350" alt="Loaded"></marquee><br><br><br><br><br>
</div>
<div style="border: 2px solid; width: 360px; height: 300px; float: left;">
    <u><font color="Green" size="10"><h3>Contents</h3></font></u>
    <a href="#a">CyberSquare</a><br>
    <a href="#c">Courses</a><br>


</div>
</body>
</html>

